*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(217, 19%, 24%);
  box-shadow: 0 3px 10px rgb(0 0 0/0.2);
  width: 455px;
  position: relative;
}
.advice-number{
  color: hsl(150, 100%, 66%);
}
.advice-text{
  color: hsl(193, 38%, 86%);
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  border: none;
}